#map {
    width: 460px;
    height: 100vh;
    margin: auto;
}

header{
    display: block;
    
}
 
main{
    margin-top: 0 !important;
}

button{
    display: block;
}


#bottomSheet {
    position: fixed;
    bottom: 0;
    width: 95%;
    max-width: 460px;
    height: calc(100dvh - 35px); /* 초기 높이 (절반 크기) */
    background: white;
    border-radius: 20px 20px 0 0;
    transition: transform 0.3s ease-in-out;
    transform: translateY(50%); /* 기본적으로 절반만 보이게 설정 */
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    touch-action: none; /* ✅ 터치 동작 최적화 */
    z-index: 99;
}

#handle {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    cursor: grab;
}

.handle-bar{
    margin: auto;
    height: 5px;
    width: 100px;
    background-color: #a9a9a9;
    margin-top: 23px;
    border-radius: 50px;
}

#poolList {
    padding: 20px;
    max-height: 60vh;
    overflow-y: auto;
}


.search-console{
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}

