
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

html{
    font-family: 'Pretendard', sans-serif;
    letter-spacing: -0.02em; /* 살짝 간격 조정 (Pretendard 권장값) */
    font-size: 16px;
}

body{
    background-color: #F6F6F6;
    justify-content: center;
    height: 100vh;
    color: #222222;
}

.container {
    width: 460px;  /* 아이폰 */
    max-width: 100%;
    height: 100vh;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: auto; 
}

header{
    position: fixed;
    top: 0 ;
    margin:auto;
    max-width: 460px;
    width: 100%;
    background-color: #fff;
    z-index: 1000; /* 다른 요소 위에 배치 */
}

main{
    margin-top: 120px;
}

.search-console{
    display: flex;
    align-items: center;
    padding: 5px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    box-sizing: border-box;
}

.search{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
    align-items: center;
    height: 2.5rem;
    border-radius: 0.5rem;
    transition: all .2sease-out;
    outline: 1px solid #A9A9A9;
    background-color: #fff;
    /* box-shadow: 0 1px 2px #0000001f, 0 0 1px #00000014, 0 0 1px #00000014; */
}

.inside-search{
    padding: 2px 10px;
    width: 100%;
}

#searchInput{
    width: 100%;
    border: none;
    height: 100%;
    font-size: 1rem;
    border-radius: 0.5rem;
}

input:focus {
    outline: none;
    box-shadow: none;
}


.main-filter{
    display: flex;
    gap: 1.25rem;
    align-items: center;
    padding-top: 1.12rem;
    padding-left: 15px;
    border-bottom: 0.5px solid #A9A9A9;
}

.schedule-filter{
    font-size: 1.2rem;
    height: 100%;
    padding-bottom: 1.12rem;
    border-bottom: 2px solid transparent;
}

.schedule-filter.active{
    border-bottom: 2px solid #666666;
}

/**/

.list-pool > * {
    margin-bottom: 2px;
    line-height: 1.5;
    margin-bottom: 4px;
}

.list-pool{
    padding: 18px 15px;
    border-bottom: 1px solid #A9A9A9;
}

/* 
.short-address{
} */

.title-group{
    display: flex;
    align-items: center;
}


.pool-title{
 font-size: 1.25rem;
 font-weight: 500;
 margin-right: 7px;
}

.tag-mini{
    background-color: #c5cee9;
    border-radius: 6px;
    width: 2.3rem;
    padding: 0.125rem 0 ;
    font-size: 0.75rem;
    font-weight: 500;
    text-align: center;
    margin-right: 3px;
}

.fav-icon{
    margin-left: auto;
}

.off-noti{
    font-size: 0.88rem;
    color: #555555;
}

.time-table > * {
    margin-bottom: 2px;
}

.session-num{
    margin-right: 5px;
}