@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Tektur:wght@400..900&display=swap');




html{
    font-family: 'Pretendard',"Tektur", "Geist Mono", sans-serif;
    letter-spacing: -0.02em; /* 살짝 간격 조정 (Pretendard 권장값) */
    font-size: 14px;
    box-sizing: border-box;
    background-color: #fafafa;
    overflow: hidden;
    height: 100%;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

  
body{
    justify-content: center;
    height: 100%;
    color: #3D3D3D;
    margin: 0;
    overflow: hidden;
}


header{
    position: fixed;
    top: 0 ;
    display: block;
    margin:auto;
    max-width: 460px;
    width: 100%;
    padding: 1rem 1.2rem;
    z-index: 1000; /* 다른 요소 위에 배치 */
    background: #fff;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.05);
 
}

main {
  padding-top: var(--header-height);
  width: 100%;
}

button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    touch-action: manipulation;
  }
  
  a{
    text-decoration: none;
    color: #000;
  }

:root {
    --vh: 100%;
  }
  
  .full-height {
    height: calc(var(--vh, 1vh) * 100);
  }



/*토스트^.^*/

.custom-toast {
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    pointer-events: none;
    transition: opacity 0.09s ease-in-out;
    z-index: 9999;
  }

  .custom-toast.show {
    opacity: 1;
  }
  
  /*header*/



#home{
  font-family: "Tektur", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 5px;
  position: relative;
  display: inline-block;
  z-index: 1; 
}


#home::after{
  content: "";
  position: absolute;
  bottom: -2px;
  left: -4%;
  background-color: #C8F575;
  opacity: 0.5;
  width: 108%;
  height: 0.7rem;
  z-index: -1;
}


.mypage-wrapper {
  position: relative;
}

#mypage{
    text-decoration: none;
    font-family: "Tektur", sans-serif;
    font-weight: 500;
    margin-left: auto;
    padding: 0.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
  }
  
  .whale-bg {
    position: absolute;
    top: -0.7rem;
    right: 0;
    z-index: 1;
    font-size: 1.5rem;
  }

  .logged-in #mypage {
    color: #2D1157;
  }
  
  .logged-in .whale-bg {
    opacity: 1;
  }
  
  .logged-out #mypage {
    color: #A9A9A9;
  }
  
  .logged-out .whale-bg {
    opacity: 0.5;
  }
    
/* 
  #mypage:before{
    content: "🐋";
    position: absolute;
    top: 0;
    right: 0;
  } */
  
  #mypage:hover{
    cursor: pointer;
  }

  .hidden {
    display: none;
  }


.pool-item{
    padding: 18px 15px;
    border-bottom: 1px solid #A9A9A9;
}

.short-address{
    text-align: left;
    font-size: 1rem;
}


.pool-item > * {
    margin-bottom: 2px;
    line-height: 1.5;
    margin-bottom: 4px;
}

.poolTitle{
    display: flex;
    padding: 0.5rem 0;
    align-items: center;
}

.pool-name{
    font-size: 1.3rem;
    font-weight: 500;
    margin-right: 7px;
}

.tag{
    /* background-color: #c5cee9; */
    background-color: #C8F575;
    border-radius: 5px;
    padding: 0.2rem 0.3rem;
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
    margin-right: 3px !important;
    align-self:center;
    color:#2D1157;
}

.noti{
    font-size: 0.88rem;
    color: #555;
    text-align: left;
}

.fav-icon{
    margin-left: auto;
}

/* 모달 */

#reviewModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
    
  #reviewModal .modal-content {
    background: white;
    border-radius: 5px;
    padding: 1rem;
    width: 90%;
    max-width: 400px;
    max-height: 80%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  }
  
  #reviewModal textarea{
    resize: none;  
    width: 100%;                   /* 부모 요소 기준 꽉 차게 */
    min-height: 100px;             /* 기본 높이 */
    padding: 0.75rem;              /* 안쪽 여백 */
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
  }

  #reviewModal .cancleForm{
    display: flex;
    padding-bottom: 1rem;
}

#reviewModal .cancleForm:hover{
    cursor: pointer;
  }


#reviewModal .submitForm{
    display: flex;
    justify-content: end;
    padding-top: 1rem;
  }


.modal-close{
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 5px;
    padding: 0.35rem 0.7rem;
    font-weight: 500;
}
  
.modal-close:hover{
    background-color: #f5f5f5;
    cursor: pointer;
}

  #submitReview{
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 5px;
    padding: 0.35rem 0.7rem;
    font-weight: 500;
  }

  #submitReview.active{
    background-color: #C8F575; 
    cursor: pointer;
  }

  #submitReview:disabled {
    cursor: not-allowed;
}

/* 
.list-pool > * {
    margin-bottom: 2px;
    line-height: 1.5;
    margin-bottom: 4px;
}

.list-pool{
    padding: 18px 15px;
    border-bottom: 1px solid #A9A9A9;
} 
    

.title-group{
    display: flex;
    align-items: center;
}
    


.pool-item:first-child{
    padding-top: 5px;
}

.pool-title{
 font-size: 1.12rem;
 font-weight: 500;
 margin-right: 7px;
}


.tag-mini{
    background-color: #c5cee9;
    border-radius: 6px;
    width: 2.3rem;
    padding: 0.125rem 0 ;
    font-size: 0.75rem;
    font-weight: 500;
    text-align: center;
    margin-right: 3px;
}


.off-noti{
    font-size: 0.88rem;
    color: #555555;
}

.time-table > * {
    margin-bottom: 2px;
}

.session-num{
    margin-right: 5px;
}

/* 리스트 페이지  맨 위 //

.main-filter{
    display: flex;
    gap: 1.25rem;
    align-items: center;
    padding-top: 1.12rem;
    padding-left: 15px;
    border-bottom: 0.5px solid #A9A9A9;
}

.schedule-filter{
    font-size: 1.2rem;
    height: 100%;
    padding-bottom: 1.12rem;
    border-bottom: 2px solid transparent;
}

.schedule-filter.active{
    border-bottom: 2px solid #666666;
}
*/